---
project: About Me
meta_title: About Me | Alex Cagwin
menu:
  - title: Home
    link:
  - title: About Me
    link: about
  - title: Octane AI
    link: octaneai
  - title: Dumptruck
    link: dumptruck
  - title: Hopsy
    link: hopsy
  - title: Nvolv
    link: nvolv
---


<!DOCTYPE html>
<html lang="en-us">
<head>

    {% include head.html %}

    {% include headjs.html %}
</head>
  <body id="about">
      <div id="main" class="content flex home-padding flex-horizontal-center black-bg">
        <div id="header" class="nav-2 header animated header--fixed">
          <div class="nav--content desktop-hide">
            <a href="#" id="menu-nav" class="project-btn" >
              <div class="project-btn-out">
                <div class="project-btn-item"></div>
                <div class="project-btn-item"></div>
                <div class="project-btn-item"></div>
                <div class="project-btn-item"></div>
                <div class="project-btn-item"></div>
                <div class="project-btn-item"></div>
                <div class="project-btn-item"></div>
                <div class="project-btn-item"></div>
                <div class="project-btn-item"></div>
              </div>
              <span class="nhg main">{{ page.project }}</span>
            </a>
            <div class="mobile-nav-mail">
              <div class="nav--break"></div>
              <a href="https://www.linkedin.com/in/alex-cagwin-25b90937" target="_blank" title="LinkedIn" class="nav-padding-l-b nav-padding-r-s">
                <i class="fa fa-linkedin"></i>
                <span class="nav-tooltip">Connect with Me</span>
              </a>
              <a href="https://twitter.com/wincag1" target="_blank" title="Twitter" class="nav-padding-l-s nav-padding-r-s">
                <i class="fa fa-twitter"></i>
                <span class="nav-tooltip">Follow Me</span>
              </a>
              <a href="mailto:hey@acag.win" class="desktop-hide nav-padding-l-s nav-padding-r-b">
                <i class="fa fa-envelope-o"></i>
              </a>
            </div>
          </div>
          <div class="mobile-hide">
            <div class="nav--content">
              <a href="/" class="project-btn">
                <div class="project-btn-out">
                  <div class="project-btn-item"></div>
                  <div class="project-btn-item"></div>
                  <div class="project-btn-item"></div>
                  <div class="project-btn-item"></div>
                  <div class="project-btn-item"></div>
                  <div class="project-btn-item"></div>
                  <div class="project-btn-item"></div>
                  <div class="project-btn-item"></div>
                  <div class="project-btn-item"></div>
                </div>
                <span class="nav-tooltip">Return Home</span>
              </a>
              <a href="https://www.linkedin.com/in/alex-cagwin-25b90937" target="_blank" title="LinkedIn">
                <i class="fa fa-linkedin"></i>
                <span class="nav-tooltip">Connect with Me</span>
              </a>
              <a href="https://twitter.com/wincag1" target="_blank" title="Twitter">
                <i class="fa fa-twitter"></i>
                <span class="nav-tooltip">Follow Me</span>
              </a>
              <a data-clipboard-text="hey@acag.win" class="no-smoothState copied mobile-hide">
                <i class="fa fa-envelope-o"></i>
                <span class="nav-tooltip">Shoot Me an Email</span>
              </a>
            </div>
          </div>
        </div>

        <section id="title" class="f-width header-space about">
          <div class="header home-wrap">
            <div class="header-title block">
              <h1 class="hidden">About Me</h1>
              <div class="section-title">
                <span class="header-label-2 pink">About Me</span>
              </div>
              <span class="about-title white">Hey there. Welcome to my abode.</span>
            </div>
          </div>
          <!--<div class="section-content-display">
            <div class="header-content-bio desktop-hide-2">
              <span>I’m Alex, a digital design director, currently freelancing in New York. I’m also on a quest to make the world’s best breakfast tacos.</span>
            </div>
          </div> -->
        </section>

      </div>

      <div id="content" class="content flex flex-horizontal-center">

        <section class="project-section intro-reverse split split-p-a">
          <div class="intro-content">
              <span class="fact-label">Fun Fact</span>
              <div class="client-list">
                <span>I spent 4 months roadtripping across the country, driving 13,702 miles and staying in 32 cities. I met a dude named Herman in Marfa, TX who thought it'd be a good idea to drive my car to 132mph.</span>
              </div>
          </div>
          <div class="split-content">
            <div class="header-content-bio">
              <span>I’m Alex, a digital design director, currently freelancing in New York. I’m also on a quest to make the world’s best breakfast tacos.</span>
            </div>
            <div class="section-break"></div>
            <p>I primarily focus on product and interaction design for companies like Harley Davidson, Fidelity, Natera, Octane AI and ShearShare. I work in a collaborative and highly iterative fashion emphasizing building and testing prototypes with users. </p>
            <p>I started my craeer at <a href="http://westagilelabs.com" target="_blank">West Agile Labs</a>. I was there for 3 years, where I built out and oversaw the design and product teams. I led our design team of five, pitched clients, managed resources, developed the West Agile brand and worked on over 45+ products, such as <a href="https://www.natera.com/" target="_blank" title="Natera">Natera</a>, <a href="https://www.spikebee.com/calgary" target="_blank" title="SpikeBee">SpikeBee</a>, <a href="https://nvolv.co/" target="_blank" title="Nvolv">Nvolv</a>, <a href="/eventyoda" title="Eventyoda">Eventyoda</a>,  <a href="https://octaneai.com/" target="_blank" title="Octane AI">Octane AI</a>, and <a href="http://shearshare.com/" target="_blank" title="ShearShare">ShearShare</a>, which won Tech.Co’s startup of the year. </p>
            <p>After West Agile, I worked for <a href="https://maps.harley-davidson.com/" target="_blank">Harley Davidson</a> for the better part of 2017. During that time, the product team focused on re-designing their existing ride planning tool. For the first half of the engagement, I had the opportunity to work out of Pivotal Labs with talented team there. Some of the designers I had the privilege to work with were <a href="http://www.meetrichardenlow.com/" target="_blank">Richard Enlow</a>, <a href="http://www.pixelspersecond.com/" target="_blank">Prianka Rayamajhi</a> and <a href="http://ghent.design/" target="_blank">David Ghent</a>.
            <p>I had moved to NYC after the Harley Davidson engagement where I started working over with <a href="https://www.sapientrazorfish.com/" target="_blank">SapientRazorfish</a> helping craft and build <a href="https://marcel.ai/" target="_blank">Marcel</a>, the AI powered assistant. I'm currently helping redefine their agency workflow as well define the UX framework for a conversational interface.</p>
            <p>In the middle of 2018, I partnered again with a one of the most talented product people I know, Rathan Haran, where we helped transform Baby Noggin's product. We brought to the table, lean and agile methdologies to help better support the Baby Noggin ecosystem, focusing on iterative prototyping and research. We are currently helping doctors and teachers better screen children.</p>

            <div class="section-break"></div>
            <p>Born and raised in lovely <a href="https://goo.gl/maps/bEYJrXj91YU2" target="_blank" title="South Bay, California">South Bay, California.</a> I went to <a href="https://www.bcp.org/" target="_blank" title="South Bay, California">BCP</a> and received my undergrad degree in Political Science at <a href="http://www.calpoly.edu/" target="_blank" title="Cal Poly, SLO">Cal Poly, SLO</a>, where I ran cross-country and track at both. I also started the <a href="http://cpdistanceclub.com/" target="_blank" title="Cal Poly Distance Club">Cal Poly Distance Club</a> with my best friend Mike</p>
            <p>On the side, I try to keep busy with <a href="https://500px.com/alexcagwin" target="_blank" title="500px">photography</a>, <a href="https://soundcloud.com/awincag" target="_blank" title="Soundcloud">making music</a>, and lots of side projects. The two big ones I’m working on right now are <a href="/ug" title="Underground Symphony">The Underground Symphony</a> and <a href="/dodo" title="dodo">Dodo</a>. My biggest passion outside of the world of design is  some really good fucking breakfast tacos. Seriously, they’re decadent. Check out the website <a href="http://theworldsbestbreakfasttacos.com" target="_blank" title="The World&#39;s Best Breakfast Tacos">here</a> to learn more about them and how you can get a bite yourself. </p>
          </div>
        </section>

        <div class="project-break"></div>

        <section class="project-section split split-p-a">
          <div class="intro-content">
            <span class="intro-project-title">Experience</span>
          </div>
          <div class="split-content">
            <div class="experience">
              <div class="experience--item">
                <span class="experience--item-title">Product Design Lead</span>
                <a href="https://marcel.ai" title="Marcel at Publicis" target="_blank">Marcel at Publicis</a>
                <span class="experience--item-timeline">January 2018 – Present</span>
                <p>Marcel is an AI enabled assistant for employees of the Publicis Groupe, where I currently oversee the entire digital ecosystem. This includes the both mobile apps content and editorial tools, content management and web products. I oversee a talented team of 5 UX designers and support in managing the 5 person VD team. I also manage the end to end workflow between design and development. </p>
              </div>
              <div class="experience--br"></div>
              <div class="experience--item">
                <span class="experience--item-title">Head of Design</span>
                <a href="http://www.babynoggin.com/" title="Baby Noggin" target="_blank">Baby Noggin</a>
                <span class="experience--item-timeline">June 2018 – Present</span>
                <p>I oversee all things design for Baby Noggin, a startup aimed at providing tools and resources to Doctors and Parents with young childs. I work on a small team of 6 aimed at optimizing developmental screening workflows. I spend much of my time in research understanding child development and validating design concepts. We are currently exploring solutions to connect the bridge between low-income families, schools and doctors. These are some of the hardest problems I've worked on my career to date.</p>
              </div>
              <div class="experience--br"></div>
              <div class="experience--item">
                <span class="experience--item-title">Design Lead</span>
                <a href="https://www.harley-davidson.com/us/en/index.html" title="Harley Davidson" target="_blank">Harley Davidson</a>
                <span class="experience--item-timeline">February 2017 – November 2017</span>
                <p>Helped re-designed the Harley-Davidson Ride planner for iOS, Android and web, a core digital product and service for the company. The first third of the engagement was in conjunction with the talented team over at Pivotal Labs. After buliding out intitial concepts and prototypes on iOS, I worked closely with Gigster throughout the rest of 2017 where I lead and managed 4 product designers to continue pushing iOS as well as the overhaul on Android and web. The ride preview we came up with will forever be my most satisfying design yet.</p>
              </div>
              <div class="experience--br"></div>
              <div class="experience--item">
                <span class="experience--item-title">Design Lead</span>
                <a href="https://www.westagilelabs.com" title="West Agile Labs" target="_blank">West Agile Labs</a>
                <span class="experience--item-timeline">March 2014 – February 2017</span>
                <p>My first agency and second job. I started out as a QA analyst trying to break products all day long. I quickly picked up product and started managing projects & product. After our Lead Designer quit sometime through, I had an opportunity to teach myself design and take up the mantle. I started the design team there and ended up hiring and mentoring 5 designers. I help transition West Agile Labs from an offershore development shop to a full integrated product design studio.</p>
                <p>Over my tenure there, we worked on over 60+ products. I lead design a for a large chunk of those products. I managed and maintained the design pipeline, where I pitched almost all new clients. I worked with the founding partners to grab our team from 5 people to 28. Additionally, we grew from 1 devleopment partner to 6 by the time I had left.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
              </div>
            </div>
          </div>
        </section>

      </div>

        <!--
        <section class="footer" style="margin: 0; background-color: #fff;">
            <div class="footer--content">
              <div class="footer--item">
                <span class="header-label pink">Experience</span>
                <div class="list-item">
                  <p>Co-Founder, Designer</p>
                  <a href="http://fandf.xyz" class="label-small" title="Form &amp; Function" target="_blank">Form &amp; Function</a>
                </div>
                <div class="list-item">
                  <p>Lead Designer</p>
                  <a class="label-small" href="http://westagilelabs.com" target="_blank" title="West Agile Labs">West Agile Labs</a>
                </div>
                <div class="list-item">
                  <p>Product Manager</p>
                  <p class="label-small">Ten Dollar Wholesale</p>
                </div>
                <div class="list-item">
                  <p>Founder</p>
                  <a class="label-small" href="http://cpdistanceclub.com/" target="_blank" title="Cal Poly Distance Club">Cal Poly Distance Club</a>
                </div>
              </div>
              <div class="footer--item">
                <span class="header-label pink">Education</span>
                <div class="list-item">
                  <p>BA, Political Science</p>
                  <a class="label-small" href="http://www.calpoly.edu/" target="_blank" title="Cal Poly, SLO">Cal Poly, SLO 2013</a>
                </div>
              </div>
              <div class="footer--item">
                <span class="header-label pink">Thoughts &amp; Ideas</span>
                <div class="list-item">
                  <p>Gonna get to this after I finish up all my side projects. </p>
                </div>
              </div>
            </div>
        </section> -->



          {% include footer.html %}

          {% include menu.html %}

          {% include message.html %}

          {% include js.html %}



    </body>
</html>
